.btn {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: blue;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    line-height: 20px;
}