form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
        
    }
        .no-margin {
            margin-bottom: 0;
        }
        label {
            display: inline-block;
            width: 100%;
        }
        input {
            display: inline-block;
            width: 100%;
        }