form {
    display: inline-block;
    width: 100%;
}
    .form-row {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
        
        
        
    }
        .no-margin {
            margin-bottom: 0;
        }
        label {
            display: inline-block;
            width: 100%;
            color: grey;
            line-height: 20px;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        input {
            display: inline-block;
            width: 100%;
            line-height: 40px;
            font-size: 20px;
            border: none;
            border-bottom: grey solid 1px;

        }