body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: whitesmoke;
    background: url(/img/background.jpg);
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc( (100% - 800px) / 2 );
    
    
}
    .left {
        display: inline-block;
        width: 40%;
        float: left;
        background: url(/img/hill.png);
        background-size:initial;
        background-repeat: no-repeat;
        height: 480px;
        margin-top: 20px;
        color: white;
        
        
    }
        h1 {
            display: inline-block;
            width: 100%;
            text-align: center;
            margin-top: 50px;
            
            
        }
        footer {
            display: inline-block;
            margin-left: 20%;
            margin-top: 350px;
        }
            footer > a {
                display: inline-block;
                color: white;
                text-decoration: none;
               
                
            }
            footer > span {
                display: inline-block;
                
                
            }
          
            
    .right {
        display: inline-block;
        width: 60%;
        float: left;
        padding: 80px;
        background-color: white;
        
    }
        .x {
            display: inline-block;
            float: right;
            color: grey;
            text-transform: uppercase;
            
        }
        .form-row > span {
            display: inline-block;
            margin-top: 10px;
            margin-left:10px;
            font-size: 20px;
        }
        .form-row > a {
            display: inline-block;
            margin-top: 10px;
            font-size: 20px;
            text-decoration: none;
            color: blue;
        }
