

body {
    background-color: whitesmoke;
    background: url(/img/background.jpg);
}

.container {
    display: inline-block;
    width: 800px;
    margin-top: 40px;
    margin-left: calc( (100% - 800px) / 2 );
    
    
}
    .left {
        display: inline-block;
        width: 40%;
        float: left;
        background-color: rgb(95, 109, 240);
        
        /* background: url(/img/hill.png);
        background-size:initial;
        background-repeat: no-repeat; */
        
        
        color: white;
        
        
    }
        h1 {
            display: inline-block;
            width: 100%;
            
            
            
            
        }
        footer {
            display: inline-block;
            
           
        }
            footer > a {
                display: inline-block;
                color: white;
                text-decoration: none;
               
                
            }
            footer > span {
                display: inline-block;
                
                
            }
          
            
    .right {
        display: inline-block;
        width: 60%;
        float: left;
        padding: 80px;
        background-color: white;
        
    }
        .x {
            display: inline-block;
            float: right;
            color: grey;
            text-transform: uppercase;
            
        }
        .form-row > span {
            display: inline-block;
            margin-left: 20px;
            
            font-size: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .form-row > a {
            display: inline-block;
            margin-left: 20px;
            font-size: 20px;
            text-decoration: none;
            color: blue;
            padding-top: 10px;
            padding-bottom: 10px;
        }
